{# Prompts user to enter email to reset password #}
{# Credit for outline: http://garmoncheg.blogspot.com/2012/07/django-resetting-passwords-with.html #}
{% extends "base.html" %}

{% block title %}Reset Password - YouTalkEdu{% endblock title %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
			window.onload = function() {
				$("#id_email").focus();
			};  
		}); 
        </script> 

	<p>Please enter your email address below to receive instructions for resetting your password.</p>

	<form action="" method="post">
		{% csrf_token %}
		{{ form.email.errors }}
		<p>
			<label for="id_email">E-mail address:</label> {{ form.email }} 
			<input type="submit" name="reset_pass_submit" value="Reset password" />
		</p>
	</form>
{% endblock content %}
