{% extends "base.html" %}

{% block title %}Password change - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
	<script type="text/javascript">
		$(document).ready(function() {
			window.onload = function() {
				$("#id_old_password").focus();
			};  
		}); 
        </script> 

	<form action="" method="post">
		{% csrf_token %}
		{% if form.errors %}
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ form.non_field_errors }} {# If pass fields don't match #}
				{% for field in form %} 
					{% if field.errors %}
						<li>{{ field.errors|striptags }}</li>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		<table>
			<tr>
				<td><label for="id_old_password">Old password:</label></td>
				<td>{{ form.old_password }}</td>
			</tr>			
			<tr>
				<td><label for="id_new_password1">New password:</label></td>
				<td>{{ form.new_password1 }} &nbsp; Passwords must contain at least 8 characters.</td>
			</tr>
			<tr>
				<td><label for="id_new_password2">Confirm password:</label></td>
				<td>{{ form.new_password2 }}</td>
			</tr>
			<tr>
				<td></td>
				<td><button class="btn btn-primary" type="submit" name="pass_change_submit">Change my password</button></td>
			</tr>
		</table>
	</form>
	</div>
{% endblock content %}
