{% extends "base.html" %}

{% block title %}Register - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
	<script type="text/javascript">
		$(document).ready(function() {
			window.onload = function() {
				$("#id_username").focus();
			};  
		}); 
        </script> 

	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		{% if form.errors %}
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ form.non_field_errors }} {# If pass fields don't match #}
				{% for field in form %} 
					{% if field.errors %}
						<li>{{ field.errors|striptags }}</li>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{# Would use form.as.p but want special error display above #}
		{% for field in form %}
			<div class="fieldWrapper">
			{{ field.label_tag }} {{ field }}
			{% if 'mail' in field.label_tag %}
				This will ONLY be used to send a verification E-mail. After that, we'll sell it to the highest bidder (only joking).
			{% endif %}
			<br/><br/>
			</div>
		{% endfor %}

		<button class="btn btn-primary" type="submit" name="create">Create Account</button>
	</form>
	</div>
{% endblock content %}

