{% extends "base.html" %}

{% block title %}Login - YouTalkEdu{% endblock title %}

{% block content %}
	{# Focus on user login on load #}
	<script type="text/javascript">
		$(document).ready(function() {
			window.onload = function() {
				$("#id_user_login").focus();
			};  
		}); 
        </script> 


	<div id="id_login_box" style="text-align:center">
	{% if user.is_authenticated %} 
			<p> You are already logged in!
	{% else %}
			{# If success, stays on current page. Else, redirects to /accounts/login #}
			{% if form.errors %}
				<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Login Failed:</strong> 
					Either the username does not exist, or the incorrect password was entered. 
					Please try again.
				</div>
			{% endif %}
			<form method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				<label for="id_user_login">Username:</label>
				<input type="text" name="username" id="id_user_login" />
				<label for="id_pass_login">Password:</label>
				<input type="password" name="password" id="id_pass_login"/><br/>
				<label><input type="checkbox" name="remember_me"/>&nbsp;Remember me</label>
				<button class="btn btn-primary btn-large" type="submit" name="login">Login</button><br/><br/>
				<a href="{% url 'register' %}">Create an account</a><br/>
				<a href="{% url 'password_reset' %}">Forgot my password</a>
				{% if next and next.strip and 'accounts' not in next %}
					{# Next value is provided (and not an accounts link), redirect back to that page #}
					<input type="hidden" name="next" value="{{ next }}" />
				{% else %}
					{# NO next value is provided or accounts page, redirect home #}
					<input type="hidden" name="next" value="/" />				
				{% endif %}
			</form>
	{% endif %}
	</div>
{% endblock content %}
