{% extends "base.html" %}
{% load dictionary_extras %} {# For dictionary access to variable keys #}
{% load honeypot %}

{% block title %}{{ page_title }} - YouTalkEdu{% endblock title %}

{% block content %}
	{{ block.super }}
	
	{% if user.is_authenticated %}
		<br/ id="id_line_break"><br/>
		{# Automatically re-display form if error #}
		{% if form.errors %}
			{{ form.non_field_errors }}
 			<div id="id_post_form">
			<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
				{% csrf_token %}
				{% render_honeypot_field %}
				{{ form.as_p }}
				<button name="post_button" type="submit">Post</button>	
			</form>
			</div>
		{# Otherwise hide form so it's not in the way #}
		{% else %}
			<a id="id_show_form" style="font-size:1.2em; font-style:italic">Click me to create a post</a><br/>

			<script type="text/javascript">
				jQuery(document).ready(function(){
    					$('#id_post_form').hide();			
  	 				$('#id_show_form').click(function() {
    						$('#id_post_form').show();
    						$('#id_show_form').hide();
    						$('#id_line_break').hide();
    						});
				});
			</script>
 			<div id="id_post_form">
			<p>PLEASE NOTE: You cannot post more than 5 times in a 24 hour period.</p>
			<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
				{% csrf_token %}
				{% render_honeypot_field %}
				{{ form.as_p }}
				<button name="post_button" type="submit">Post</button>	
			</form>
			</div>
		{% endif %}
	{% endif %}
	

	{# Sort by links #}
	<br/>
	<div>
		<p> Sort by:
			<a href="{% url 'post_page_base' page=current_page sort_id=1%}">Most Recent</a>
			<a href="{% url 'post_page_base' page=current_page sort_id=2%}">Highest Rated</a>			
		</p>
	</div>


	{# POSTS DISPLAY #}
	<div>
	{% for post in posts %}
		<a href="{% url 'post_page' post_id=post.id %}"><h4>{{ post.title }}</h4></a>
		<p>
			Posted by <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a>
			at {{ post.time_created }} and last modified at {{ post.time_modified }}
			User type={{ post.user_id.get_user_type_display }}.
			{% if post.user_id == request.user %}
				<a href="{% url 'post_edit' id=post.id %}?next={{request.path}}">Edit</a>
				<a href="{% url 'post_delete' id=post.id %}?next={{request.path}}"
				onclick="return confirm('Your post and all related comments will be deleted. Proceed?')">Delete</a>
			{% endif %}
		</p>
		<p> 
			{{ vote_dict|key:post }}. Overall: {{ post.vote_percentage }}
		</p>
			<a href="{% url 'up_vote' id=post.id %}?next={{request.path}}">Up</a>
			<a href="{% url 'down_vote' id=post.id %}?next={{request.path}}">Down</a>
		</p>
	{% endfor %}
	</div>
    

	{# PAGINATION #}
	{# Source: https://docs.djangoproject.com/en/dev/topics/pagination/ #}
	<div class="pagination">
		<span class="step-links">
		{% if posts.has_previous %}
			<a href="?page={{ posts.previous_page_number }}">Previous</a>
		{% endif %}

		<span class="current">
			Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		</span>

		{% if posts.has_next %}
			<a href="?page={{ posts.next_page_number }}">Next</a>
		{% endif %}
		</span>
	</div> 
{% endblock content %}
