<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
	{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{# Good display for all devices #}
	<script type="text/javascript">
		function(){
			if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
				var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
				var mw = 480; // min width of site
				var ratio =  ww / mw; //calculate ratio
				if( ww < mw){ //smaller than minimum size
					$('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
				}else{ //regular size
					$('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
				}
			}
		};
	</script>
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"  media="screen">
	{% endblock stylesheets %}
	<title>
		{% block title %}YouTalkEdu{% endblock title %}
	</title>
</head>

<body>
	{% block navbar %}
		<div class="navbar" style="clear:both">
		<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="{% url 'home' %}">YouTalkEdu</a>
			<ul class="nav">
				<li><a href="{% url 'learn_more' %}">Learn</a></li>
				<li><a href="{% url 'post_page_base' page='problems' %}">Problems</a></li>
				<li><a href="{% url 'post_page_base' page='ideas' %}">Ideas</a></li>
				<li><a href="{% url 'post_page_base' page='questions' %}">Questions</a></li>
				<li><a href="{% url 'post_page_base' page='site_feedback' %}">Site Feedback</a></li>
				<li><a href="{% url 'search' %}">Search</a></li>
			</ul>
            	        <ul class="nav pull-right">
				{% if user.is_authenticated %}
					<li><a href="{% url 'user_page' user=user %}">{{ user.username }}</a></li>
					<li><a href="{% url 'auth_logout' %}?next={{request.path}}">Logout</a></li>
				{% else %}
					<li class="pull-right"><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
				{% endif %}
			</ul>
		</div>
		</div>
		</div>
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% endblock navbar %}

	{% block content %}
	{% endblock content %}
</body>
</html>
