{% extends "base.html" %}
{% load dictionary_extras %} {# For dictionary access to variable keys #}
{% load honeypot %}
{% load staticfiles %}

{% block title %}{{ page_title }} - YouTalkEdu{% endblock title %}

{% block content %}
	{{ block.super }}

	<br/>
	{% if user.is_authenticated %}
		<br/ id="id_line_break">
		{# Automatically re-display form if error #}
		{% if form.errors %}
			{{ form.non_field_errors }}
 			<div id="id_post_form">
			<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
				{% csrf_token %}
				{% render_honeypot_field %}
				{{ form.as_p }}
				<button name="post_button" type="submit">Post</button>	
			</form>
			</div>
		{# Otherwise hide form so it's not in the way #}
		{% else %}
			<a id="id_show_form" style="font-size:1.2em; font-style:italic">Click me to create a post</a><br/>

			<script type="text/javascript">
				jQuery(document).ready(function(){
    					$('#id_post_form').hide();			
  	 				$('#id_show_form').click(function() {
    						$('#id_post_form').show();
    						$('#id_show_form').hide();
    						$('#id_line_break').hide();
    						});
				});
			</script>
 			<div id="id_post_form">
			<p>PLEASE NOTE: You cannot post more than 5 times in a 24 hour period.</p>
			<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
				{% csrf_token %}
				{% render_honeypot_field %}
				{{ form.as_p }}
				<button name="post_button" type="submit">Post</button>	
			</form>
			</div>
		{% endif %}
	{% endif %}
	

	{# Sort by links #}
	<br/>
	<div>
		<p> Sort by:
			<a href="{% url 'post_page_base' page=current_page sort_id=1%}">Most Recent</a>
			<a href="{% url 'post_page_base' page=current_page sort_id=2%}">Highest Rated</a>
			<a href="{% url 'post_page_base' page=current_page sort_id=3%}">Most Votes</a>		
		</p>
	</div>


	{# POSTS DISPLAY #}
	<div>
	{% for post in posts %}
		<div style="clear:both; margin-bottom:20px; border:2px solid black; width:800px">
		<div style="display:inline-block; width:150px">  
			<canvas id="myCanvas{{post.id}}" width="150" height="100">
         		   If you see this, your browser does not support HTML5 Canvas.
        		</canvas>
			<script	src="{% static 'js/vote_script.js' %}"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					var canv = document.getElementById("myCanvas{{post.id}}");
					var draw = canv.getContext("2d");
					drawPulseOutline(draw);
					{% for user_type_key in user_color_dict %}
						draw.fillStyle = "{{ user_color_dict|get_item:user_type_key }}";
						drawPulse({{ vote_dict|key:post|key:user_type_key}}, separationDist*({{ forloop.counter }}-1), draw);
					{% endfor %}

			});
			</script>
			<p style="text-align:center">
				Overall: {{ post.vote_percentage }}
			</p>
		</div>

		<div style="display:inline-block; width:640px">
			<p>
				At {{ post.time_created }}, <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a> posted:
				{% with u_type=post.user_id.user_type %}
				<span style="color:{{user_color_dict|get_item:u_type}}; float:right; font-weight:bold">{{ post.user_id.get_user_type_display }}</span>
				{% endwith %}
			</p>
			<a href="{% url 'post_page' post_id=post.id %}"><h4 style="word-wrap:break-word; height:60px">{{ post.title }}</h4></a>
			<p>
				{% for user_type_key in user_color_dict %}
					{{ user_type_key }}:		
					{{ vote_dict|key:post|key:user_type_key}},
				{% endfor %}
			</p>
			{% if user.is_authenticated %}		
				<p>
					<div style="display:inline-block">					
					<a href="{% url 'up_vote' id=post.id %}?next={{request.path}}">Up</a> &nbsp;
					<a href="{% url 'down_vote' id=post.id %}?next={{request.path}}">Down</a> &nbsp;
					<a href="{% url 'mark_as_spam' id=post.id %}?next={{request.path}}">Mark as spam</a>
					</div>			
				{% if post.user_id == request.user %}
					<div style="float:right; display:inline-block">
					<a href="{% url 'post_edit' id=post.id %}?next={{request.path}}">Edit</a>
					<a href="{% url 'post_delete' id=post.id %}?next={{request.path}}"
					onclick="return confirm('Deleting your post will remove all related votes and comments. Proceed?')">Delete</a>
					</div>
				{% endif %}

				</p>
			{% endif %}
		</div>
		</div>
	{% endfor %}
	</div>
    

	{# PAGINATION #}
	{# Source: https://docs.djangoproject.com/en/dev/topics/pagination/ #}
	<div class="pagination">
		<span class="step-links">
		{% if posts.has_previous %}
			<a href="?page={{ posts.previous_page_number }}">Previous</a>
		{% endif %}

		<span class="current">
			Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		</span>

		{% if posts.has_next %}
			<a href="?page={{ posts.next_page_number }}">Next</a>
		{% endif %}
		</span>
	</div>
 
{% endblock content %}
