{% load staticfiles %}
<html>
<head>
	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
	{% endblock stylesheets %}
	<title>
		{% block title %}Welcome to YouTalkEdu{% endblock title %}
	</title>
</head>

<body>
	{% block login %}
		<div id="id_login_box" style="border:2px solid black">
			{% if user.is_authenticated %} 
				<p>Welcome {{ user.username }}. <a href="{% url 'user_page' user=user %}">My page</a></p>
				<form action="{% url 'auth_logout' %}">
					<button type="submit" name="logout">Logout</button>
				</form>
			{% else %}
				<!-- If success, stays on current page. Else, redirects to /accounts/login -->
				<form method="POST" action="{% url 'auth_login' %}?next={{request.path}}"> 
					{% csrf_token %}
					<label for="id_user_login">Username:</label> 
					<input type="text" name="username" id="id_user_login" />
					<label for="id_pass_login">Password:</label> 
					<input type="password" name="password" id="id_pass_login"/>
					<button type="submit" name="login">Login</button>
					<label><input type="checkbox" name="remember_me"/>Remember me</label>
					<a href="/accounts/register">Create Account</a>
					<a href="{% url 'password_reset' %}">Reset password</a>
				</form>
			{% endif %} 
		</div>
	{% endblock login %}

	{% block navbar %}
		<a id="id_home_link" href="{% url 'home' %}">Home</a>
		<a id="id_problems_link" href="{% url 'post_page_base' page='problems' %}">Problems</a>
		<a id="id_ideas_link" href="{% url 'post_page_base' page='ideas' %}">Ideas</a>
		<a id="id_questions_link" href="{% url 'post_page_base' page='questions' %}">Questions</a>
		<a id="id_site_feedback_link" href="{% url 'post_page_base' page='site_feedback' %}">Site Feedback</a>
		<a href="{% url 'search' %}">Search</a>
	{% endblock navbar %}

	{% block content %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.9.1.min.js' %}"><\/script>')</script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% endblock content %}
</body>
</html>
