{% extends "base.html" %}
{% load dictionary_extras %} {# For dictionary access to variable keys and key content #}
{% load honeypot %}
{% load staticfiles %}

{% block title %}{{ page_title }} - YouTalkEdu{% endblock title %}

{% block content %}
	<script	type="text/javascript" src="{% static 'js/ajax_script.js' %}"></script>	
	<script	type="text/javascript" src="{% static 'js/vote_script.js' %}"></script>

	<div class="move_right">
	{% if user.is_authenticated %}
		<br/ id="id_line_break">
		{# Automatically re-display form if error #}
		{% if form.errors %}
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{% for field in form %} 
					{% if field.errors %}
						<li>{{ field.errors|striptags }}</li>
					{% endif %}
				{% endfor %}
			</div>
			<div id="id_post_form">
			<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
				{% csrf_token %}
				{% render_honeypot_field %}
				{# Would use form.as.p but want special error display above #}
				{% for field in form %}
					<div class="fieldWrapper">
					{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<button class="btn btn-success btn-large" name="post_button" type="submit">Post</button>	
			</form>
			</div>
		{# Otherwise hide form so it's not in the way #}
		{% else %}
			<a id="id_show_form">Click me to create a post</a><br/>

			<script type="text/javascript">
				jQuery(document).ready(function(){
    					$('#id_post_form').hide();			
  	 				$('#id_show_form').click(function() {
    						$('#id_post_form').show();
						$('#id_title').focus();
    						$('#id_show_form').hide();
    						$('#id_line_break').hide();
    						});
				});
			</script>
 			<div id="id_post_form">
			{% if posts_left <= 0 %}
				<p>:( You have used up all of your posts for the day. However, you may still
				(and are encouraged to) vote and comment on posts made by others.</p>
			{% else %}
				<p>PLEASE NOTE: You have {{ posts_left }} post{{ posts_left|pluralize }} remaining for the day.</p>
				<form method="POST" action="{% url 'post_new' page_abbrev %}?next={{request.path}}">
					{% csrf_token %}
					{% render_honeypot_field %}
					{{ form.as_p }}
					<button class="btn btn-success btn-large" name="post_button" type="submit">Post</button>	
				</form>
			{% endif %}
			</div>
		{% endif %}
		<br/>		
	{% endif %}
	

	{# Sort by links #}
	{% if posts %}
	<div class="btn-group" style="margin-bottom:5px">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			Sort by:
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% for categ in sort_categs %}
				{% if forloop.counter == sort_id %}
					<li> <a href="{% url 'post_page_base' page=current_page sort_id=forloop.counter %}">
{# Image source: http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.med.png #}
					<img src="{% static 'img/green_checkmark.png' %}" class="green_checkmark" /> {{ categ }}</a>
					</li>
				{% else %}
					<li><a href="{% url 'post_page_base' page=current_page sort_id=forloop.counter %}">{{ categ }}</a>
					</li>
				{% endif %}
			{% endfor %}	
		</ul>
	</div>
	{% endif %}


	{# POSTS DISPLAY #}
	<div>
	{% for post in posts %}
		{# Div id MUST be post id for ajax to work #}
		<div style="clear:both; margin-bottom:20px; border:2px solid black; width:800px">
		{# Vote display #}
		<div class="vote_display_div">
			<canvas id="myCanvas{{post.id}}" width="125" height="100">
         		   If you see this, your browser does not support HTML5 Canvas. Sorry :(
        		</canvas>
			<script type="text/javascript">
				$(document).ready(function() {
					var canv = document.getElementById("myCanvas{{post.id}}");
					var draw = canv.getContext("2d");
					drawPulseOutline(draw);	
					drawEntireChart(draw, "{{user_color_dict|safe}}", "{{post.votes_by_user_type|safe}}", {{ post.vote_percentage|safe }}, false);
				});
			</script>
			<p class="poststats{{post.id}}" style="text-align:center">
				Overall: {{ post.vote_percentage }}<br/>Total Votes: {{ post.total_votes }}
			</p>

		</div>

		{# Post content display #}
		<div class="item_display_div">
			<p>
				At {{ post.time_created }}, <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a> posted:
				{% with u_type=post.user_id.user_type %}
				<span style="color:{{user_color_dict|get_item:u_type}}; float:right; font-weight:bold">{{ post.user_id.get_user_type_display }}</span>
				{% endwith %}
			</p>
			<a href="{% url 'post_page' post_id=post.id %}"><h4 id="base_post_title">{{ post.title|capfirst }}</h4></a>
			<p>
				{% for user_type_key in user_color_dict %}
					{{ user_type_key }}:		
					{{ post.votes_by_user_type|key:user_type_key|key:2 }},
				{% endfor %}
			</p>
			{% if user.is_authenticated %}		
				<p>
					<div id="post_links{{post.id}}" style="display:inline-block">
					<a class="up" href="{% url 'up_vote' id=post.id item_type='p'%}">Up</a> &nbsp;
					<a class="down" href="{% url 'down_vote' id=post.id item_type='p'%}">Down</a> &nbsp;
					<a class="spam" href="{% url 'post_spam' id=post.id %}">Mark as spam</a>
					</div>			
				{% if post.user_id == request.user %}
					<div class="inline_right">
					<a href="{% url 'post_edit' id=post.id %}?next={{request.path}}?page={{ page }}">Edit</a>
					<a href="{% url 'post_delete' id=post.id %}?next={{request.path}}?page={{ page }}"
					onclick="return confirm('Deleting your post will remove all related votes and comments. Proceed?')">Delete</a>
					</div>
				{% endif %}
				</p>
			{% endif %}
		</div>
		</div>
	{% endfor %}
	</div>
    

	{# PAGINATION #}
	{# Source: https://docs.djangoproject.com/en/dev/topics/pagination/ #}
	<div class="pagination">
		<span class="step-links">
		{% if posts.has_previous %}
			<a href="?page={{ posts.previous_page_number }}">Previous</a>
		{% endif %}

		<span class="current">
			Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		</span>

		{% if posts.has_next %}
			<a href="?page={{ posts.next_page_number }}">Next</a>
		{% endif %}
		</span>
	</div>
 	</div>

{% endblock content %}
