{% load staticfiles %}
{% load dictionary_extras %} {# For pulse drawing (access to keys and key content) #}

{######## USED IN: POST_PAGE.HTML ############}
		{# Comment and Vote Display #}
		{% for c in comment_tree %}
			<li id="{{c.id}}" class="comment_box" style="margin-left:{{c.depth|add:c.depth}}em">
			{# Vote Display #}
			<div class="vote_display_div">

				{% if not data %}
				<canvas id="commentCanvas{{c.id}}" width="125" height="100">
         			   If you see this, your browser does not support HTML5 Canvas. Sorry :(
        			</canvas>
				{% endif %}

				<script type="text/javascript">
					$(document).ready(function() {
						var canv = document.getElementById("commentCanvas{{c.id}}");
						var draw = canv.getContext("2d");
						draw.strokeStyle = "White";
						drawPulseOutline(draw);
						{% for user_type_key in user_color_dict %}
							draw.fillStyle = "{{ user_color_dict|get_item:user_type_key }}";
							drawPulse({{ c.votes_by_user_type|key:user_type_key|key:2 }}, separationDist*({{ forloop.counter }}-1), draw);
						{% endfor %}
						drawMiddle({{ c.vote_percentage }}, draw);
					});
				</script>
				<p class="comstats{{c.id}}" style="text-align:center">
					Overall: {{ c.vote_percentage }}<br/>Total Votes: {{ c.total_votes }}
				</p>
			</div>

			{# Comment display #}
			<div class="item_display_div" id="{{c.id}}">
			<p style="font-size:12px"><a href="{% url 'user_page' user=c.user_id %}">{{c.user_id}}</a> - {{c.time_created}}</p>
			<p style="height:22px">{{c.content|linebreaks}}</p>
			<div style="height:22px"></div>

			{# Votes and spam links #}
			{% if user.is_authenticated %}
				<p>
				<div id="comment_links{{c.id}}" style="display:inline-block">
					<a class="up" href="{% url 'up_vote' id=c.id item_type='c'%}">Up</a> &nbsp;
					<a class="down" href="{% url 'down_vote' id=c.id item_type='c'%}">Down</a> &nbsp;
					<a class="spam" href="{% url 'comment_spam' id=c.id %}">Mark as spam</a>&nbsp;
					{% if c.user_id == request.user %}
						<a href="{% url 'delete_comment' c.id %}?next={{request.path}}"
						onclick="return confirm('Your comment and any sub-comments will be permanently deleted. Continue?')">Delete</a>
					{% endif %}
				</div>
			{% endif %}	
			
				{# Replies and delete links #}
				<div class="inline_right">
					<a class="show_replies" href="{% url 'show_replies' c.id %}">Show replies({{c.children}})</a>&nbsp;
					{% if user.is_authenticated %}			
						<a href="" class="reply">Reply</a>&nbsp;
					{% endif %}	
				</div>
				</p>
			</div>
			</li>
		{% empty %}
			<li>There are currently no comments. You can be first!</li>
		{% endfor %}
