{% extends "base.html" %}

{% block title %}FAQ - YouTalkEdu{% endblock title %}

{% block content %}
	<h1>FAQ</h1>


	<ul>
		<li><a href="#1">My overall user rating is incorrect</a></li>
		<li><a href="#2">My post has disappeared</a></li>
		<li><a href="#3">I can't log in</a></li>
		<li><a href="#4">Can I donate to you?</a></li>
		<li><a href="#5">I'm locked out of my account</a></li>
		<li><a href="#6">My question is not listed</a></li>
	</ul>

	<br/><br/>
	<ul>
		<h4><a id="1">My overall user rating is incorrect</a></h4>
		<p>
			The overall user rating is calculated from all posts -- even deleted posts.
			For example, if you have 2 posts with 100% rating and 5 votes each, your user rating should be 1.0.
			However, if you had deleted a 3rd post with 0% rating and 10 votes, your overall user rating
			should be 0.5, even though your page will display 2 posts with 100% rating each.
		</p>
		<p>
			If you believe your user rating has been inaccurately calculated, please email me. {# EMAIL #}
		</p><br/>

		<h4><a id="2">My post has disappeared</a></h4>
		<p>
			Sometimes the website gets hungry and has to eat posts to stay alive. Rest assured, your post 
			was probably very delicious...
		</p>
		<p>
			In all seriousness, your post was likely deemed to be spam by the other users of the site.
			If your post was not spam, it should reappear on the site within a few days.
			You may still access your post by going to your user page and clicking on the post.
		</p><br/>

		<h4><a id="3">I can't log in</a></h4>
		<p>There are a couple of possibilities:</p>
		<ol>
			<li>The incorrect password is being entered.</li>
				<p>
					Please change your password. You may do so by clicking 
					<a href="{% url 'password_reset' %}">here</a>.
				</p>
			<li>The incorrect username is being entered.</li>
				<p>
					If you have made any posts/comments on the site, try searching for them and
					finding the username attached to them. If worst comes to worst, you may try 
					emailing me {# EMAIL #}, but the odds are slim that I will be able to help
					(send me every piece of info you can -- email, posts voted on, last login, etc).
				</p>
			<li>The account has been banned.</li>
				<p>
					If you are sure you are entering in the correct username and password,
					your account is likely banned. This is probably the result of someone
					stealing your password and posting as you. Depending on my mood, I may return 
					your account to you. Press your luck by emailing me here {# EMAIL #}.
				</p>
		</ol><br/>

		<h4><a id="4">Can I donate to you?</a></h4>
		<p>
			Of course, but I would suggest against it. The purpose of this site is to stimulate discussion
			about US education, so naturally your time and resources would be better spent on making 
			education better in this country.
		</p>
		<p>If, for whatever reason, you still feel inclined to donate, you may do so by clicking here {# DONATE #}.</p><br/>
		
		<h4><a id="5">I'm locked out of my account</a></h4>
		<p>
			Sorry! For security reasons, the number of logins you can attempt before being locked out of 
			your account is limited. Please email me {# EMAIL #} and I will unlock your account.		
		</p><br/>

		<h4><a id="6">My question is not listed</a></h4>
		<p>
			Email me your question here {# EMAIL #}. I will do my best to address it as quickly as I can.
		</p>

	</ul>
{% endblock content %}
