{% extends "base.html" %}

{% block head %}
	<meta name="google-site-verification" content="d_A3yuCV1UnQMxAAy0ZJPBvoE1HjA2BXg0owy36Byzg" />
	<meta name="description" content="An outlet for the discussion and debate of all things education">
	{{ block.super }}
{% endblock head %}

{% block title %}Welcome to YouTalkEdu{% endblock title %}

{% block content %}
	<div class="hero-unit">
		<h1>It's time to talk education</h1>
		<p style="font-size:1.2em">
			Whether you're a student, teacher, school administrator, parent, or just someone interested 
			in education, we need <span style="color:red">YOU</span>.	
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{% url 'learn_more' %}">
				Learn more
			</a>
		</p>
	</div>

	<div class="move_right">
		<p>Questions? Check out the <a href="{% url 'faq' %}">FAQ</a></p>
	</div>
{% endblock content %}
