{% extends "base.html" %}
{% load staticfiles %}

{% block description %}
	<meta name="google-site-verification" content="d_A3yuCV1UnQMxAAy0ZJPBvoE1HjA2BXg0owy36Byzg" />
	<meta name="description" content="An outlet for the discussion and debate of all things education.">

	{# Social media scripts and tags#}
	<meta property="og:title" content="YouTalkEdu Home" />
	<meta property="og:url" content="http://www.YouTalkEdu.com{{ request.get_full_path }}"  />
	<meta property="og:image" content="{% static 'img/favicon.png' %}" />
	<meta property="og:site_name" content="YouTalkEdu" />
	<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "e4aeda60-7d5c-4350-9ed1-654f18e9d8c9", doNotHash: false, doNotCopy: false, hashAddressBar: false, shorten:false});</script>
{% endblock description %}

{% block title %}Welcome to YouTalkEdu{% endblock title %}

{% block content %}

	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h4>
			This site is currently in testing. 
			All content and users will be deleted at the end of the testing period.<br/><br/>
			YouTalkEdu will be officially released in the next week or two so stay tuned!
		</h4>
	</div>

	<div class="hero-unit">
		<img src="{% static 'img/welcome.png' %}" width=600px height=200px alt="Welcome to YouTalkEdu" />
		<h1 style="font-size:3.0em">It's time to talk education</h1>
		<p style="font-size:1.2em">
			Whether you're a student, teacher, school administrator, parent, or just someone interested 
			in education, we need <span style="color:red">YOU</span>.	
		</p>
		<p>
			<a class="btn btn-primary btn-large" href="{% url 'learn_more' %}">
				Learn more
			</a>
		</p>
	</div>

	<div class="move_right">

	{# Social media tags #}
	<h4>Get your community involved by sharing us!</h4>
	<div>
		<span class='st_facebook_vcount' displayText='Facebook' st_url="https://www.YouTalkEdu.com" onclick="javascript:alert('Thanks, but please wait until the site is finished before sharing. If a new tab opened, please close it.')"></span>
		<span class='st_twitter_vcount' displayText='Tweet' st_title="I'm making a difference by talking about education on #YouTalkEdu" st_url="https://www.YouTalkEdu.com" onclick="javascript:alert('Thanks, but please wait until the site is finished before sharing. If a new tab opened, please close it.')"></span>
		<span class='st_googleplus_vcount' displayText='Google +' st_url="https://www.YouTalkEdu.com" onclick="javascript:alert('Thanks, but please wait until the site is finished before sharing. If a new tab opened, please close it.')"></span>
		<span class='st_linkedin_vcount' displayText='LinkedIn' st_url="https://www.YouTalkEdu.com" onclick="javascript:alert('Thanks, but please wait until the site is finished before sharing. If a new tab opened, please close it.')"></span>
	</div>
	<br/><br/>

	<h6>Huge thanks to <a href="//twitter.com/theodoremedina">Theodore Medina</a> for the graphic and favicon!</h6>

	</div> {# end move_right #}
{% endblock content %}
