{% extends "base.html" %}
{% load dictionary_extras %}
{% load staticfiles %}

{% block title %}Learn - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
	<div class="tabbable tabs-left">
		<ul id="id_tabs" class="nav nav-tabs" style="font-size:1.3em">
			<li class="active"><a href="#tab0" data-toggle="tab">Overview</a></li><br/>
			<li><a href="#tab1" data-toggle="tab">User types</a></li><br/>
			<li><a href="#tab2" data-toggle="tab">PIQS pages</a></li><br/>
			<li><a href="#tab3" data-toggle="tab">Posting</a></li><br/>
			<li><a href="#tab4" data-toggle="tab">Voting</a></li>
		</ul>

		<div class="tab-content">
			{# Default display upon arrival #}
			<div class="tab-pane fade in active" id="tab0">
				<h1 style="font-family:cursive">Welcome to YouTalkEdu</h1>
				<h3 style="display:inline-blocK">Where YOU discuss & debate all things education!</h3><br/>
				<p>If I'm already boring you, just go wander around the site. I won't be upset. Really.</p><br/>
				<h4>What is YouTalkEdu?</h4>
				<p>YouTalkEdu is a free-to-use website geared towards bettering the current 
				educational system. Anyone can browse around the content here, 
				however only those with an account can post, comment, or vote on the content.
				Registering is extremely painful and not recommended, but if you wish to do so you may 
				<a href="{% url 'register' %}">register here</a>.</p>
				<br/>
				<h4>General guidelines:</h4>
				<ul>
					<li>Don't post spam. Ever.</li>
					<li>Don't slander specific people or schools.</li>
					<li>No foul language.</li>
				</ul><br/>
				<h3>Click on the tabs to the left to learn more about YouTalkEdu!</h3><br/>
				{# <h6>Credit to <a href="//twitter.com/theodoremedina">Theodore Medina</a> for the site logo</h6> #}
			</div>

			{# Tab 1 - User types #}
			<div class="tab-pane fade in" id="tab1">
				<h3>Choose a type. Represent your peers.</h3><br/>
				<h4>All YouTalkEdu users must choose from the following user types when registering:</h4>
				<ul>
				{% for type in user_type_dict %}
					<li style="color:{{user_color_dict|get_item:type.0}}; font-weight:bold">{{ type.1 }}</li>
				{% endfor %}
				</ul><br/>
				<h4>What's the purpose?</h4>
				<p>
					Great question! The different types were created to get a "feel" of the thoughts
					and opinions from each camp. 
				</p>
				<p>
					For example, there may be a large amount of content from teachers about the costs of
					buying student supplies, presenting an issue to the other user types 
					(and the rest of the community) that may have previously gone unconsidered.
				</p><br/>
				<h4>What's with the colors?</h4>
				<p>
					Another great question! 
					Color can be used to stimulate learning and is beneficial in bringing out creativity
					(you can read more about this in the rather uncolorful eHow article located
					<a href="//www.ehow.com/how-does_4570805_color-affect-learning.html">here</a>).
				</p>
				<p>
					Also, the voting system uses the colors for its display. If you haven't already,
					check out the voting tab on the left to learn more 
					(I promise it's super interesting).
				</p>
			</div>

			{# Tab 2 - PIQS pages #}
			<div class="tab-pane fade in" id="tab2">
				<h3>PIQS - A very unclever abbreviation for the content pages.</h3>
				<h4 style="font-size:1.1em">PIQS is an abbreviation for the content pages on the site. It stands for:</h4><br/>

				<h4>{{ page_type_dict.0.1 }} - Discuss any problems you see in the current educational system here</h4>
				<p>No specifics!! Phrases such as "Mr. Doe should be fired" or 
				"Blah High School is failing students" WILL get you banned.</p><br/>
				<h4>{{ page_type_dict.1.1 }} - Discuss any ideas which may benefit the educational system here</h4>
				<p>If you've tried anything to improve education in your school/community, 
				I STRONGLY encourage you mention it here.</p><br/>
				<h4>{{ page_type_dict.2.1 }} - Discuss any educational questions worth considering here</h4>
				<p>Once again, specific questions such as "Why is Mr. Doe so bad?" 
				WILL get you banned.</p><br/>
				<h4>{{ page_type_dict.3.1 }} - Discuss any thoughts you have about YouTalkEdu</h4>
				<p>This site was built for the purposes of improving education.
				If you have any ideas about how to better the discussion, or just simply want to voice
				your thoughts on what you like/dislike/want to see, please post here.<br/>
				<span style="color:red">If you have found any security issues with the site, 
				PLEASE do not post them here. <a href="Mailto:youtalkedu@gmail.com">Email</a> those to me
				and I will be forever grateful.</span></p>

			</div>

			{# Tab 3 - Posting #}
			<div class="tab-pane fade in" id="tab3">
				<h3>Any YouTalkEdu user can post on the PIQS page.</h3><br/>
				<h4>On the PIQS pages, all posts will look like:</h4>
				<img src="{% static 'img/sample_post.png' %}" /><br/><br/>
				<ul>
					<li>Clicking on the post title will bring you to that post's page,
					on which the content of the post as well as the comments are displayed.</li><br/>
					<li>To limit the spam of the website, you will only be able to post 5
					times within a 24 hour period. Make your posts count!</li>
				</ul>
			</div>

			{# Tab 4 - Voting #}
			<div class="tab-pane fade in" id="tab4">
				<h3>A voting system with a purpose.</h3><br/>
				<h4>If you recall from the user types tab, we have the following user types:</h4>
				<h5>
				{% for type in user_type_dict %}
					<span style="color:{{user_color_dict|get_item:type.0}}; display:inline-block">{{ type.1 }}</span>&nbsp;
				{% endfor %}
				</h5><br/>
				<h4>Each post/comment has a vote chart like the following:</h4>
				<img src="{% static 'img/sample_vote.png' %}" /><br/><br/>
				<ul>
					<li>Each vote tube corresponds to a given user type (Red - Students, Blue - Parents, etc).</li><br/>
					<li>The tubes are percentage based -- they indicate the percentage 
					of votes that are "up" votes by each user type.</li><br/>
					<li>The black line across the vote chart represents the average "up" percentage 
					for all users.</li><br/>
					<li>Underneath each chart is the decimal value corresponding to the value of the
					overall "up" percentage,<br/> and the total number of votes on the post.</li>
				</ul>
			</div>
		</div>
	</div>

	</div> {# End move_right div #}
{% endblock content %}
