{% extends "base.html" %}
{% load dictionary_extras %} {# For pulse drawing (access to keys and key content) #}
{% load honeypot %}
{% load staticfiles %}

{% block title %}Post {{ post.id }} - YouTalkEdu{% endblock title %}

{% block content %}
	<script	type="text/javascript" src="{% static 'js/ajax_script.js' %}"></script>	
	<script	type="text/javascript" src="{% static 'js/vote_script.js' %}"></script>

	<div class="move_right">
	{# Post Vote #}
	<div class="vote_display_div">  
		<canvas id="myCanvas{{post.id}}" width="150" height="100">
			If you see this, your browser does not support HTML5 Canvas.
        	</canvas>
		<script type="text/javascript">
			$(document).ready(function() {
				var canv = document.getElementById("myCanvas{{post.id}}");
				var draw = canv.getContext("2d");
				drawPulseOutline(draw);
				drawEntireChart(draw, "{{user_color_dict}}", "{{post.votes_by_user_type}}", {{ post.vote_percentage }}, false);
			});
		</script>
		<p class="poststats{{post.id}}" style="text-align:center">
			Overall: {{ post.vote_percentage }}<br/>Total Votes: {{ post.total_votes }}
		</p>
	</div>

	{# Post display #}
	<div class="item_display_div">
		<h3>{{ post.title|capfirst }}</h3>
		{{ post.text|linebreaks|urlize }}<br/><br/>
		<p>Posted by: <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a></p>
		{% with u_type=post.user_id.user_type %}
		<p style="color:{{user_color_dict|get_item:u_type}}; font-weight:bold">{{ post.user_id.get_user_type_display }}</p>
		{% endwith %}
		<p>Posted at {{ post.time_created }}</p>

			{% if user.is_authenticated %}			
				<div id="post_links{{post.id}}" style="display:inline-block">					
					<a class="up" href="{% url 'up_vote' id=post.id item_type='p' %}">Vote up</a>&nbsp;
					<a class="down" href="{% url 'down_vote' id=post.id item_type='p' %}">Vote down</a>&nbsp;
					<a class="spam" href="{% url 'post_spam' id=post.id %}">Mark as spam</a>
				</div>			
				{% if post.user_id == request.user %}
				<div class="inline_right">
					<a href="{% url 'post_edit' id=post.id %}?next={{request.path}}">Edit</a>
					<a href="{% url 'post_delete' id=post.id %}?next=/"
					onclick="return confirm('Deleting your post will remove all related votes and comments. Proceed?')">Delete</a>
				</div>
				{% endif %}	
			{% endif %}
	</div>


	{# Comments -- Credit to Max Burstein for JS logic and design #}
	<br/><br/>
	<h3>Comments({{num_comments}})</h3>
	
	{# Comment Form #}
	{% if user.is_authenticated %}
		{% if comment_form.errors %}
			<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{% for field in comment_form %} 
				{% if field.errors %}
					<li>{{ field.errors|striptags }}</li>
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
		{% include 'djangospam/cookieform.html' %}
		<form id="id_comment_form" method="POST" action="{% url 'new_comment' post.id %}?next={{request.path}}">
			{% csrf_token %}
			{% render_honeypot_field %}
			<div class="fieldWrapper">
				<textarea id="id_content" name="content" style="width:500px; height:100px"></textarea>
				{{ comment_form.parent }}			
			</div>
			<button class="btn btn-success" name="comment_button" type="submit">Comment</button>	
		</form>
	{% else %}
		<p>Please login to comment.</p><br/><br/>
	{% endif %}			


	{# Display dropdown: Show all or just top level comments #}
	<div class="btn-group" style="margin-bottom:5px">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" name="show_dropdown">
			Show
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li id="show_top_level_dropdown"><a><img src="{% static 'img/green_checkmark.png' %}" class="green_checkmark" /> Only top-level comments</a></li>
			<li id="show_all_dropdown"> <a>All comments</a></li>
		</ul>
	</div>

	</div> {# End move_right div #}


	{# Comment display #}
	<div id="waiting">
		<br/><h4>Loading comments, please wait...</h4>
	</div>
	<ul id="commenters">
		{% include 'comment_display.html' %}
	</ul>




	<script>
		// Load all comments after page loads. If arguement is true, load all comments, else just top-level
		function load_comments(show_all) {
			$('#waiting').show(500);
			$('#commenters').hide(0);
			if(show_all) {
				var url_to_call = "{% url 'load_comments' post.id 'true' %}"
			} else {
				var url_to_call = "{% url 'load_comments' post.id 'false' %}"
			} 
			var args = { type:"GET", url:url_to_call, data:{},
			success: function(data) { 
				if(data) {
					$('#waiting').hide(500); // Nice fading				
					// Load comment_display.html
					$('#commenters').html(data);
					$('#commenters').show(0);
				}}};
			$.ajax(args);
			return false;
		};

		$(document).ready(function(){
			load_comments(false);
			
			// Show reply form on click
			$("#commenters").on("click", ".reply", function(event){
				event.preventDefault(); //Prevent reloading page
				var form = $("#id_comment_form").clone(true); //Clone comment form
				form.find('.parent').val($(this).parent().parent().parent().attr('id')); 
				//$(this).parent().parent().parent().attr('id') is the id of the post
				$(this).parent().parent().parent().append(form);
			});

			// Green checkmark should appear next to proper sort-by link, and should reload comments on click
			$("#show_top_level_dropdown").click(function() {
        			document.getElementById('show_top_level_dropdown').innerHTML = "<a><img src='{% static 'img/green_checkmark.png' %}' class='green_checkmark' /> Only top-level comments</a>";
        			document.getElementById('show_all_dropdown').innerHTML = "<a>All comments</a>";
				load_comments(false);
			});
			$("#show_all_dropdown").click(function() {
        			document.getElementById('show_top_level_dropdown').innerHTML = "<a>Only top-level comments</a>";
        			document.getElementById('show_all_dropdown').innerHTML = "<a><img src='{% static 'img/green_checkmark.png' %}' class='green_checkmark' /> All comments</a>";
				load_comments(true);
			});

			// "delete" class won't appear until after AJAX call
			$.ajax().done(function() {
				// Delete a post and reload comments
				$("body").on("click", ".delete", del = function() {
					var args = {type:"GET", url:$(this).attr('href'), data:{},
						success: function(data) { 
							load_comments(false);
						}};
					$.ajax(args);
					return false;
				});
			});
		});
	</script>

{% endblock content %}
