{# Will be called with form needed to be edited #}
{% extends "base.html" %}
{% load honeypot %}


{% block title %}Edit post - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
	{% if form.errors %}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{% for field in form %} 
				{% if field.errors %}
					<li>{{ field.errors|striptags }}</li>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
	<form method="POST" action="{% url 'post_edit' id=id %}?next={{redirect_to}}">
		{% csrf_token %}
		{% render_honeypot_field %}		
		{% for field in form %}
			<div class="fieldWrapper">
			{{ field.label_tag }} {{ field }}
			</div>
		{% endfor %}
		<button class="btn btn-primary" name="update" type="submit">Update</button>	
	</form>
	</div>
{% endblock content %}
