{% extends "base.html" %}
{% load dictionary_extras %} {# For pulse drawing (access to keys and key content) #}
{% load honeypot %}
{% load staticfiles %}

{% block title %}Post {{ post.id }} - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
		{# Post Vote #}
		<div class="vote_display_div">  
			<canvas id="myCanvas{{post.id}}" width="150" height="100">
         		   If you see this, your browser does not support HTML5 Canvas.
        		</canvas>
			<script	src="{% static 'js/vote_script.js' %}"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					var canv = document.getElementById("myCanvas{{post.id}}");
					var draw = canv.getContext("2d");
					drawPulseOutline(draw);
					{% for user_type_key in user_color_dict %}
						draw.fillStyle = "{{ user_color_dict|get_item:user_type_key }}";
						drawPulse({{ post.votes_by_user_type|key:user_type_key|key:2}}, separationDist*({{ forloop.counter }}-1), draw);
					{% endfor %}
					drawMiddle({{ post.vote_percentage }}, draw);
				});
			</script>
			<p class="poststats{{post.id}}" style="text-align:center">
				Overall: {{ post.vote_percentage }}<br/>Total Votes: {{ post.total_votes }}
			</p>
		</div>

	{# Post display #}
	<div class="item_display_div">
		<h3>{{ post.title|capfirst }}</h3>
		<p>{{ post.text|linebreaks }}</p><br/><br/>
		<p>Posted by: <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a></p>
		{% with u_type=post.user_id.user_type %}
		<p style="color:{{user_color_dict|get_item:u_type}}; font-weight:bold">{{ post.user_id.get_user_type_display }}</p>
		{% endwith %}
		<p>Posted at {{ post.time_created }}</p>

			{% if user.is_authenticated %}			
				<div id="post_links{{post.id}}" style="display:inline-block">					
					<a class="up" href="{% url 'up_vote' id=post.id item_type='p' %}">Up</a>&nbsp;
					<a class="down" href="{% url 'down_vote' id=post.id item_type='p' %}">Down</a>&nbsp;
					<a class="spam" href="{% url 'post_spam' id=post.id %}">Mark as spam</a>
				</div>			
				{% if post.user_id == request.user %}
				<div class="inline_right">
					<a href="{% url 'post_edit' id=post.id %}?next={{request.path}}">Edit</a>
					<a href="{% url 'post_delete' id=post.id %}?next=/"
					onclick="return confirm('Deleting your post will remove all related votes and comments. Proceed?')">Delete</a>
				</div>
				{% endif %}	
			{% endif %}
	</div>


	{# Comments -- Credit to Max Burstein on logic and design #}
	<br/><br/>
	<h3>Comments({{num_comments}})</h3>
	<script>
		$(document).ready(function(){
			$("#commenters").on("click", ".reply", function(event){
				event.preventDefault(); //Prevent reloading page
				var form = $("#id_comment_form").clone(true); //Clone comment form
				form.find('.parent').val($(this).parent().parent().parent().attr('id')); 
				//$(this).parent().parent().parent().attr('id') is the id of the post
				$(this).parent().parent().parent().append(form);
			});
		});
	</script>

	
	{# Comment Form #}
	{% if user.is_authenticated %}
		{% if comment_form.errors %}
			<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			{% for field in comment_form %} 
				{% if field.errors %}
					<li>{{ field.errors|striptags }}</li>
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
		<form id="id_comment_form" method="POST" action="{% url 'new_comment' post.id %}?next={{request.path}}">
			{% csrf_token %}
			{% render_honeypot_field %}
			<div class="fieldWrapper">
				<textarea id="id_content" name="content" style="width:500px; height:100px"></textarea>
				{{ comment_form.parent }}			
			</div>
			<button class="btn btn-success" name="comment_button" type="submit">Comment</button>	
		</form>
	{% else %}
		<p>Please login to comment.</p><br/><br/>
	{% endif %}			

	{% if comment_tree %}
	{# Display dropdown: Show all or just top level #}
	<div class="btn-group" style="margin-bottom:5px">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" name="show_dropdown">
			Show
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% if 'all' in request.path %}
				<li> <a href="{% url 'post_page' post.id%}">Only top-level comments</a></li>
				<li> <a href="{% url 'post_page_all' post.id%}">
				<img src="{% static 'img/green_checkmark.png' %}" class="green_checkmark" /> All comments</a>
				</li>

			{% else %}
				<li> <a href="{% url 'post_page' post.id%}"><img src="{% static 'img/green_checkmark.png' %}" class="green_checkmark" /> Only top-level comments</a></li>
				<li> <a href="{% url 'post_page_all' post.id%}">All comments</a></li>
			{% endif %}	
		</ul>
	</div>
	{% endif %}

	</div> {# End move_right div #}


	{# Comment display #}
	<ul id="commenters">
		{% include 'comment_display.html' %}
	</ul>




	{# Like/Unlike JS and Ajax #}
	<script type="text/javascript">
		$(document).ready(function() {
var create_vote = function() {
	var args = { type:"GET", url:$(this).attr('href'), data:{},
			success: function(data) { 
			if(data) {
				if(data["item_type"]=='c') {
					var canv = document.getElementById("commentCanvas"+data["post_id"]);
				} else {
					var canv = document.getElementById("myCanvas"+data["post_id"]);
				}
				var draw = canv.getContext("2d");
				clearPulse(draw); //Clear canvas and redraw
				{% for user_type_key in user_color_dict %}
					draw.fillStyle = "{{ user_color_dict|get_item:user_type_key }}";
					drawPulse(data["post_dict"]["{{user_type_key}}"][2], separationDist*({{ forloop.counter }}-1), draw);
				{% endfor %}
				drawMiddle(data["post_mid"], draw);

				// Reload div that displays overall percentage and number of votes
				if(data["item_type"]=='c') {
					// Load doesn't work after "show replies"
					$('.comstats'+data["post_id"]).html("Overall: "+data["post_mid"]+ "<br>Total Votes: "+data["post_total"]);
				} else {
					$('.poststats'+data["post_id"]).load(' .poststats'+data["post_id"]);
				}
			}}};
	$.ajax(args);
	return false;
};

var mark_as_spam = function() {
	var args = { type:"GET", url:$(this).attr('href'), data:{},
			success: function(data) { 
			if(data) {
				// Add comment indicating spam marking received
				var textNode = document.createTextNode(" Thanks!");
				//TOFIX LATER: Should be able to access w/o need for id (like via $(this).parent)
				if(data["item_type"]=='p') {
					var child = document.getElementById('post_links'+data["id"]);
					child.parentNode.insertBefore(textNode, child.nextSibling);
				} else {
					var span = document.createElement('span');
					span.style.color = "#ff982c";
					span.appendChild(textNode);
					var child = document.getElementById('comment_links'+data["id"]);
					child.parentNode.insertBefore(span, child.nextSibling);
				}
			}}};
	$.ajax(args);
	return false;
};

var show_replies = function() {
	var args = { type:"GET", url:$(this).attr('href'), data:{},
			success: function(data) { 
			if(data) {
				// Reload comment_display.html
				$('#commenters').html(data);
			}}};
	$.ajax(args);
	return false;
};



$.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});			
 
			var csrftoken = getCookie('csrftoken');
			$("body").on("click", ".up", create_vote);
			$("body").on("click", ".down", create_vote);
			$("body").on("click", ".spam", mark_as_spam);
			$("body").on("click", ".show_replies", show_replies);
		});
	</script>

{% endblock content %}
