{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Site Feedback - YouTalkEdu{% endblock title %}

{% block content %}
	{{ block.super }}
	<form method="POST">
		{% csrf_token %}
		<input id="id_new_post" name="post_content" placeholder="Type your thoughts here!" />
		<button id="id_post_button" type="submit">Post</button>	
	</form>

	<div>
	{% for post in posts %}
		<h4>{{ post.text }}</h4>
		<p>Posted by <a href="{% url 'user_page' user=post.user_id %}">{{ post.user_id }}</a>
		at {{ post.timeCreated }} and last modified at {{ post.timeModified }}. 
		User type={{ post.user_id.get_user_type_display }} </p>
	{% endfor %}
	</div> 
{% endblock content %}
