{% extends "base.html" %}

{#{% block description %}
	<meta name="description" content="Frequently asked questions on YouTalkEdu">
{% endblock description %}
#}

{% block title %}Site Update - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
		<h2>State of the Website (12/20/2013)</h2>

		<p>
		Thank you for taking the time to read this bland yet useful page.
		The purpose of this page is to inform visitors of upcoming changes that will be made to the site.
		</p>
		<br/>

		<h4>Rationale</h4>
		<p>
			It comes as no surprise that this site is basically dead. If you have come here to post,
			please do!! Even if only one person reads your thoughts, you still have made a difference.
		</p>
		<p>
			Unfortunately, as a full-time college student, 
			I simply do not have the time, money, marketing ability, and general effort to try to turn
			this site into a lively forum for discussion (as much as I wish I could.
			Thus, I have decided to make a few changes to the site, outlined below.
		</p><br/>


		<h4>Changes and Resulting Consequences</h4>
		<ul>
			<li>Fewer resources will be devoted to the processing power behind the website</li>
			<ul>
				<li>
					Consequences: <span style="color:red">
					If you are the first visitor to the website in the past hour,
					the first YouTalkEdu page accessed will take many seconds to load.</span>
					All pages accessed after the initial page should load with normal speed.
				</li>
			</ul>

			<li>To save money, I plan on limiting the size of the database used for the site.</li>
			<ul>
				<li>Consequences: Pages may take a little extra time to load since caching will
				be disabled. This should be minimal in effect.</li>
			</ul>

			<li>There will be <span style="color:red">no security changes</span> made.
			This site will remain under SSL protection.</li>
		</ul><br/><br/>

		<p>
			Once again, I apologize to all users and future visitors for any
			inconviences these changes have caused.
			To help remedy any pains, here is a link to a
			<a href="https://www.youtube.com/watch?v=IW_ZnjSfjEI">funny video</a>. Enjoy.
		</p>
	</div>
{% endblock content %}
