{% extends "base.html" %}

{% block title %}User {{ user_object.username }} - YouTalkEdu{% endblock title %}

{% block content %}
	{{ block.super }}
	<h4>User type = {{ user_object.get_user_type_display }}. Here are the posts for {{ user_object.username }}: </h4>
	<p> Overall user rating: {{ user_object.vote_percentage }}</p>
	{% for post in user_posts %}
		<p>{{ forloop.counter }}: <a href="{% url 'post_page' post_id=post.id %}">{{ post.title }}</a>.
		Overall rating: {{ post.vote_percentage }}</p>
	{% endfor %}
	<br/><br/>

	{% if user_object == request.user %}
		<p><a href="{% url 'django.contrib.auth.views.password_change' %}">Change your password</a></p>
		<p><a href="{% url 'user_type_change' %}">Change your account type</a></p>
	{% endif %}
{% endblock content %}
