{% extends "base.html" %}
{% load dictionary_extras %} {# For dictionary access to variable keys and key content #}

{% block title %}User {{ user_object.username }} - YouTalkEdu{% endblock title %}

{% block content %}
	<div class="move_right">
	<h3 style="color:{{ user_object.COLORS|get_item:user_object.user_type}}">User {{ user_object.username}}: {{ user_object.get_user_type_display }}</h3>
	{% if user_object == request.user %}
		<p><a href="{% url 'pass_change' %}">Change your password</a></p>
		<p><a href="{% url 'user_type_change' %}">Change your account type</a></p>
	{% endif %}
	<h4> Overall user rating: {{ user_object.vote_percentage }}</h4>
	<p>Last logged in on {{ user_object.last_login.date }} at {{ user_object.last_login.time }}</p>


	{# Posts #}
	{% if user_posts %}
	<br/>
	<table>
	<thead>
		<tr class="user_page_headers">
			<th> Here are the 10 most recent posts for {{ user_object.username }}: </th>
			<th> Overall Rating </th>
		</tr>
	</thead>
	<tbody>
	{% for post in user_posts %}
		<tr>
			<td>
				<div class="item_title_cutoff">
				{{ forloop.counter }}: &nbsp; <a href="{% url 'post_page' post_id=post.id %}">{{ post.title }}</a>
				</div>
			</td>
			<td>
				{{ post.vote_percentage }} 
				({{ post.total_votes }} vote{{ post.total_votes|pluralize }})
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}


	{# Comments #}
	{% if user_comments %}
	<br/>
	<table>
	<thead>
		<tr class="user_page_headers">
			<th> Here are the 10 most recent comments for {{ user_object.username }}: </th>
			<th> Overall Rating </th>
			<th> Related Post </th>
		</tr>
	</thead>
	<tbody>
	{% for comment in user_comments %}
		<tr>
			<td>
				<div class="item_title_cutoff">
				{{ forloop.counter }}: &nbsp; {{ comment.content }}
				</div>
			</td>
			<td>
				<div style="width:120px">
				{{ comment.vote_percentage }} 
				({{ comment.total_votes }} vote{{ comment.total_votes|pluralize }})
				</div>
			</td>
			<td>
				<div class="item_title_cutoff" style="width:200px">
				<a href="{% url 'post_page' comment.post_id.id %}">{{ comment.post_id.title }}</a>
				</div>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	{% endif %}

	</div> {# End move_right #}
{% endblock content %}
